.navbar {
    margin: 0 auto;
    padding: .4rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar a {
    color: #000;
    text-decoration: none;
    margin-right: 5rem;
}

.navbar--links {
    position: absolute;
    top: -700px;
    left: -2000px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: all .5s ease;
}

.navbar--links a {

    color: #fff;
    font-size: 2rem;
    display: block;

}

.navbar--links.active {
    width: 100%;
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
}

.navbar--links.active a {
    font-size: 2rem;
    margin-top: 1rem;
    color: #fff;
}

.initial {
    background-color: #222;
    position: absolute;
    top: -1000px;
    left: -1000px;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all .6s ease;
}

.initial.active{
    border-radius: 0 0 80% 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* MEDIA QUERIE */

@media (width < 768px) {
    .navbar--media{

    }
    
}

@media(min-width: 768px) {

    .navBurguer {
        display: none;
    }

    .navbar--links {
        position: initial;
        margin: 0;
        display: block;
    }

    .navbar--links a {
        font-size: 1rem;
        color: #000;
        display: inline;
    }

}